/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

	.header .top_head{
		text-align: center;
	}
	.header .top_header .top_head .box_1 .logo a p{
		display: none;
	}
	.header .top_header .top_head .box_2{
		padding-left: 0;
	}
	.header .top_header .bottom_head .menu ul li a{
		padding: 24px;
	}
	.header .top_header .bottom_head{
		top: 27px;
	}
	.section_4 .top_right{
		margin: 10px;
	}
	.section_4 .top_left{
		margin: 10px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.header .top_header{
		margin-top: 54px;
		min-height: 176px;
	}
	.header .top_header .top_head{
		text-align: left;
	}
	.header .top_header .top_head .box_1{
		float: none;
	}
	.header .top_header .top_head .box_2{
		float: none;
		display: block;
	}
	.header .top_header .top_head .box_3{
		float: none;
		display: block;
	}
	.header .top_header .bottom_head .menu .btn_menu{
		display: block;
		color: #701dbb;
		font-size: 25px;
		cursor: pointer;
		position: absolute;
		top: -35px;
    	right: 15px;
	}
	.header .top_header .top_head{
		width: 50%;
		text-align: left;
	}
	.header .top_header .bottom_head{
		position: relative;
	}
	.header .top_header .bottom_head .menu{
		float: right;
		width: 50%;
		top: -219px;
		position: absolute;
		right: 10px;
	}
	.header .top_header .bottom_head .menu ul{
		display: none;
    	text-align: center; 
    	width: 100%;   	
	}
	.header .top_header .bottom_head .menu ul li{
		display: block;
		padding: 0;
		min-height: 5px;
		filter: none;
		border-bottom: 2px solid #6017a3;
	}
	.header .top_header .bottom_head .menu ul li:hover{
		background-color: none;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		transition: none;
}	
	.header .top_header .bottom_head .menu ul li svg{
		display: none;
	} 
	.header .top_header .bottom_head .menu ul li a{
		display: block;
		line-height: 10px;		
		margin-top: 0;
		padding: 9px;
		font-size: 15px;
	}
	.header .top_header .bottom_head .menu ul li:hover a{
		background-color: rgba(216,192,230,.2);
	}
	.header .top_header .bottom_head .menu ul li .svg_1,.svg_2,.svg_5{
		width: 0;
		height: 0;
		margin: 0;
	}
	.header .top_header .bottom_head .menu ul li .svg_3,.svg_6{
		width: 0;
		height: 0;
		margin: 0;
	}
	.header .top_header .bottom_head .menu ul li .svg_4{
		width: 0;
		height: 0;
		margin: 0;
	}
	#form_search input{
		width: 200px;
	}
}
@media only screen and (max-width : 640px) {

}

@media only screen and (max-width : 542px) {

	.header .top_header .bottom_head .menu{
		top: -234px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.header .top_header .bottom_head .menu{
		width: 100%;
	}
	.header .top_header .top_head .box_1 .logo span{
		display: none;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 340px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}
@media only screen and (min-width : 640px) {

}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	.header .top_header .bottom_head .menu ul{
		display: block !important;
	}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}