@import url(<link href="https://fonts.googleapis.com/css?family=Jura:700|PT+Sans:400,400i,700|Roboto:900&amp;subset=cyrillic" rel="stylesheet">);

/*font-family: 'PT Sans', sans-serif;
font-family: 'Jura', sans-serif;
font-family: 'Roboto', sans-serif;*/

.header{
	background-color: #ebebeb;
}
.header .top_header{
	margin-top: 40px;
	min-height: 207px;
}
.header .top_header .top_head .box_1{
	display: inline-block;
	float: left;
	max-width: 300px;
}
.header .top_header .top_head .box_1 .logo img {
	padding-right: 10px;
}
.header .top_header .top_head .box_1 .logo span {
	position: relative;
}
.header .top_header .top_head .box_1 .logo a {
	text-decoration: none;
	font-size: 32px;
	color: #5c169f;
	font-family: 'PT Sans', sans-serif;
	font-weight: 900;
	cursor: pointer;
}
.header .top_header .top_head .box_1 .logo a p {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	color: #7d7d7d;
	font-style: italic;
	font-size: 12px;
	position: absolute;
	bottom: 3px;
	left: 70px;
}
.header .top_header .top_head .box_2{	
	color: #7d7d7d;
	font-size: 13px;
	margin-top: 20px;
	display: inline-block;
	padding-left: 235px;
}
.header .top_header .top_head .box_2 .links{
	border-right: 2px solid #7d7d7d;
	width: 100px;
	display: inline-block;
}
.header .top_header .top_head .box_2 .links a{
	text-decoration: none;
	cursor: pointer;
	color: #7d7d7d;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
}
.header .top_header .top_head .box_2 .links a:hover{
	color: #5c169f;	
	font-weight: 600;
}
.header .top_header .top_head .box_2 .links a:hover g{
	fill: #5c169f;
}
.header .top_header .top_head .box_2 .links a svg{
	width: 15px;
	height: 20px;
}
select{
	outline: none;
	border: none;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	background-color: transparent;
}
select:hover{
	color: #5c169f;
	font-weight: 600;
}
#form_search .btn{
	border: none;
	background-color: transparent;
	margin-top: -34px;
	float: right;
	position: absolute;
	top: 45px;
	right: 0;
}
#form_search .btn a{
	cursor: pointer;
}
.header .top_header .top_head .box_3{
	float: right;
	display: inline-block;
}
#form_search{
	display: inline-block;
	background-color: #fff;
	margin-top: 15px;
	height: 47px;
	position: relative;
}
#form_search input{
	color: #7d7d7d;
	font-size: 13px;
	border: none;
	outline: none;
	margin-left: 10px;
	width: 250px;
	height: 45px;
}
.header .top_header .bottom_head{
	top: 10px;
}
.header .top_header .bottom_head .menu{
	margin-top: 30px;	
}
.header .top_header .bottom_head .menu .btn_menu{
	display: none;
}
.header .top_header .bottom_head .menu ul{
	text-align: center;
	position: relative;
	position: absolute;
	z-index: 15;
}
.header .top_header .bottom_head .menu ul li{
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 0%, #dbdbdb 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%,#dbdbdb 100%);
	background: linear-gradient(to bottom, #ffffff 0%,#dbdbdb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#dbdbdb',GradientType=0 );
	min-height: 115px;
	display: inline-block;
	box-shadow: 0 0 7px #4e4d4e;
	border-bottom: 5px solid #6017a3;
}
.header .top_header .bottom_head .menu ul li:hover{
	background-color: #fff;
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	transition: all .4s;
}
.header .top_header .bottom_head .menu ul li:hover a{
	color: #701dbb;
}
.header .top_header .bottom_head .menu ul li:hover g{
	fill: #701dbb;
}
.header .top_header .bottom_head .menu ul li:first-child{
	border-color: #6017a3;
}
.header .top_header .bottom_head .menu ul li:nth-child(2){
	border-color: #8038c2;
}
.header .top_header .bottom_head .menu ul li:nth-child(3){
	border-color: #a34ff0;
}
.header .top_header .bottom_head .menu ul li:nth-child(4){
	border-color: #a34ff0;
}
.header .top_header .bottom_head .menu ul li:nth-child(5){
	border-color: #8038c2;
}
.header .top_header .bottom_head .menu ul li:last-child{
	border-color: #6017a3;
}

.header .top_header .bottom_head .menu ul li .svg_1,.svg_2,.svg_5{
	width: 25px;
	height: 25px;
	margin: 19px auto;
}
.header .top_header .bottom_head .menu ul li .svg_3,.svg_6{
	width: 20px;
	height: 25px;
	margin: 19px auto;
}
.header .top_header .bottom_head .menu ul li .svg_4{
	width: 15px;
	height: 25px;
	margin: 19px auto;
}
.header .top_header .bottom_head .menu ul li a{
	text-decoration: none;
	font-size: 17px;
	font-weight: 700;
	font-family: 'PT Sans', sans-serif;
	cursor: pointer;
	color: #707070;
	padding: 42px;
	margin-top: 20px;
}
.header .bottom_header{
	background-image: url(../img/fon_1.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: top center;
	min-height: 545px;
	position: relative;
}
.header .bottom_header .icon{
	width: 140px;
	height: 140px;
	background-color: #451a4a;
	border-radius: 50%;
	position: absolute;
	top: 230px;
	left: 45%;
}
.header .bottom_header .ico{
	background-image: url(../img/logo.png);
	width: 48px;
	height: 50px;
	display: block;
	margin-top: 30%;
	margin-left: 33%;
}
.header .bottom_header .ico:hover{
	background-image: url(../img/link_1.png);
}
.section_4{
	min-height: 920px;
	border-bottom: 4px solid #914dcf;
	background-color: #ebebeb;
}
.section_4 .top_right{
	background-color: #fff;
	padding: 60px 50px 70px 50px;
	margin: 10px 10px 10px 0;
	position: relative;
}
.section_4 .top_left{
	background-color: #fff;
	padding: 60px 50px 70px 50px;
	margin: 10px 0 10px 10px;
	position: relative;
}
.section_4 .bottom{
	background-color: #fff;
	padding: 60px 50px 70px 50px;
	margin: 10px;
}
.section_4 h2{
	font-size: 28px;
	color: #000;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	padding-bottom: 20px;
}
.section_4 p{
	color: #914dcf;
	font-size: 14px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	padding-bottom: 40px;
}
.section_4 .text{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #949494;
	font-size: 12px;
}
.section_4 .plus{
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	background-color: #8f33c4;
}
.section_4 .plus a{
	padding: 9px;
}
.section_4 .plus img{
	margin-top: 5px;
}

